name: Test
on: 
  # Trigger the workflow on push or pull request,
  # for all branches, but never trigger on new tags
  push:
    branches:
      - '**' 
    tags-ignore:
      - '**' 
  pull_request:
    branches:
      - '**'

jobs:
  test:
    name: Run tests on macOS
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Select Xcode version
        run: sudo xcode-select --switch /Applications/Xcode_15.2.app
      - name: Build and test
        run: swift test --enable-code-coverage --disable-automatic-resolution
        shell: bash
  test-linux:
    name: Run tests on Linux
    runs-on: ubuntu-22.04
    container:
      image: swift:5.7.1-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and test
        run: swift test --disable-automatic-resolution --skip XcodeExportTests
